@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

.cl-card {
  box-shadow: none;
  border: 1px solid #acacac;
  border-radius: 3px;
}

.cl-internal-b3fm6y {
  display: none;
}
